<div id="traka" align="center">
    <button (click)="goToLink('https://www.facebook.com/AdventureOmis/')">
        <i class="fa fa-facebook-official"
            aria-hidden="true"></i>
    </button>&nbsp;&nbsp;&nbsp;

    <button (click)="goToLink('https://www.google.com/maps/place/Adventure+Omis+%7C+Canyoning+Kayaking+Rafting+Biking+Climbing/@43.4459408,16.6891538,17z/data=!4m10!1m2!2m1!1sadventure+omis+g%2B!3m6!1s0x0:0xd4d8430aca93967a!8m2!3d43.445941!4d16.6913424!9m1!1b1')">
        <i class="fa fa-google" aria-hidden="true"></i>
    </button>&nbsp;&nbsp;&nbsp;

    <button (click)="goToLink('https://www.instagram.com/adventureomis/?hl=hr')">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </button>&nbsp;&nbsp;&nbsp;

    <button (click)="goToLink('https://www.youtube.com/watch?v=AInW-r7PceM')">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </button>&nbsp;&nbsp;&nbsp;

    <button (click)="goToLink('https://www.tripadvisor.com/Attraction_Review-g644074-d6563636-Reviews-Adventure_Omis-Omis_Split_Dalmatia_County_Dalmatia.html')">
        <i class="fa fa-tripadvisor" aria-hidden="true"></i>
    </button>&nbsp;&nbsp;&nbsp;

    <button (click)="goToLink('https://www.adrenaline-hunter.com/en-GB/provider/adventure-omis/1913')">
       AH
    </button>&nbsp;&nbsp;&nbsp;

    <button (click)="goToLink('https://www.checkyeti.com/en/adventure-omis')">
        CY
     </button>&nbsp;&nbsp;&nbsp;
 
     <button (click)="goToLink('https://www.getyourguide.com/omi-l2096/')">
        GYG
     </button>&nbsp;&nbsp;&nbsp; 

    <button (click)="goToLink('https://www.viator.com/')">
        V
    </button>&nbsp;&nbsp;&nbsp;

</div>

<router-outlet></router-outlet>